{% extends 'user/layout.html' %}
{% block header%}
Store
{% endblock %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col">
            <form method="post" action="">
                <input type="hidden" value="{{ loggedin }}" name="useronline">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            <table class="table table-striped">
                    <tr>
                        <th><input type='checkbox' id="selectall"></th>
                        <th>Item Name</th>
                        <th>Price</th>
                        
                    </tr>
 {% for p in prods %}
<tr>
<td><input type="checkbox" name="productid" value="{{ p.product_id }}"></td>
<td>{{p.product_name }}</td>
<td>N {{p.product_price }}</td>
</tr>
  {%endfor%}
            </table>
            <button class="btn btn-warning">Buy</button>
        </form>
        </div>
    </div>
</div>
{% endblock content%}